<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Angular Material</title>
    <link rel="stylesheet" href="assets/angular-material.min.css">
    <link rel="stylesheet" href="app.css">
  </head>
  <body ng-app="MyApp" layout="column" ng-controller="UserController as ul">

    <md-toolbar layout="row">
      <md-button class="menu" ng-click="ul.toggleList()" hide-gt-sm aria-label="Show User List">
        <md-icon md-svg-icon="menu"></md-icon>
      </md-button>
      <h3>Angular Material Starter</h1>
      <md-input-container>
        <md-select ng-change="ul.changeType(opt.link)" ng-model="ul.selectedSample" placeholder="Select a Sample">
          <md-option ng-value="opt.link" ng-repeat="opt in ul.selectSample">{{ opt.name }}</md-option>
        </md-select>
      </md-input-container>
    </md-toolbar>

    <div class="container" layout="row" flex>
      <md-sidenav md-is-locked-open="$mdMedia('gt-sm')" class="md-whiteframe-4dp" md-component-id="left">
        <md-list ng-click="ul.toggleList()">
          <md-list-item ng-repeat="u in ul.users">
            <md-button ng-click="ul.selectUser(u)">
              <md-icon md-svg-src="{{u.avatar}}" class="avatar"></md-icon>
              {{u.name}}
            </md-button>
          </md-list-item>
        </md-list>
      </md-sidenav>

      <md-content flex id="content">
        <md-icon md-svg-src="{{ul.selected.avatar}}" class="avatar"></md-icon>
        <h2>{{ul.selected.name}}</h2>
        <p>
          {{ul.selected.content}}
        </p>
        <md-button class="share" md-no-ink aria-label="Share with {{ul.selected.name}}" ng-click="ul.share(ul.selected)">
          <md-icon md-svg-src="share"></md-icon>
        </md-button>
      </md-content>
    </div>

    <script src="assets/angular.min.js"></script>
    <script src="assets/angular-animate.min.js"></script>
    <script src="assets/angular-aria.min.js"></script>
    <script src="assets/angular-material.min.js"></script>
    <script src="Users.js"></script>
    <script src="UserService.js"></script>
    <script src="UserController.js"></script>



    <script type="text/javascript">
      angular.module('MyApp', ['ngMaterial', 'users'])
      .config(function($mdIconProvider, $mdThemingProvider){
        $mdIconProvider.defaultIconSet("./svg/avatars.svg", 128);
        $mdIconProvider.icon("share", "./svg/share.svg", 24);
        $mdIconProvider.icon("menu", "./svg/menu.svg", 24);

        $mdThemingProvider.theme('default')
          .primaryPalette("brown")
          .accentPalette("red");
      })



       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
       ga('create', 'UA-58076376-1', 'auto');
       ga('send', 'pageview');


    </script>
  </body>
</html>
